/* basic styling */
.box{
  text-align: center;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  padding-top: 40px;
}

.game-box{
  margin-top: 10vh;
  align-items: center;
}


/* lines to seperate boxes */
.five{
  border: 4px solid black;
}

.four, .six{
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.two, .eight {
  border-left: 4px solid black;
  border-right: 4px solid black;
}